<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sideline Cup</title>
        <link rel="stylesheet" href="static/css/enduro.css">
        <link rel="icon" href="static/images/icons/favicon-32.png" sizes="32x32">
        <link rel="icon" href="static/images/icons/favicon-57.png" sizes="57x57">
        <link rel="icon" href="static/images/icons/favicon-76.png" sizes="76x76">
        <link rel="icon" href="static/images/icons/favicon-96.png" sizes="96x96">
        <link rel="icon" href="static/images/icons/favicon-128.png" sizes="128x128">
        <link rel="icon" href="static/images/icons/favicon-192.png" sizes="192x192">
        <link rel="icon" href="static/images/icons/favicon-228.png" sizes="228x228">
        <script src="static/scripts/enduro.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <div class="login-box auth0-box before">
            <a class="btn btn-primary btn-lg btn-login btn-block" href="/login">Log In</a>
        </div>
        <div id="results_table" class="flex-table">

        </div>

        <h1>Test</h1>
    </body>
</html>
